<div class="container-fluid">
  <div class="custom row justify-content-left">
    <div class="col-8 align-self-left">
      <h1>My Search</h1>
      <!-- <input [(ngModel)]="selected"
             [typeahead]="states"
             [typeaheadOptionsLimit]="10"
             placeholder="Type here to search"
             (typeaheadOnSelect)="onSelect($event)"
             class="form-control"> -->
             <div class="row">
             <div class="col-8">
              <input [(ngModel)]="search"
                   typeaheadOptionField="name"
                   [typeaheadOptionsLimit]="10"
                   [typeahead]="suggestions$"
                   [typeaheadAsync]="true"
                   class="form-control"
                   placeholder="Type here to search"
                   (typeaheadOnSelect)="onSelect($event)">
             </div>
                  <div class="col-4">
                    <button type="button" (click)="onSelect(search)" ng-disabled="search" class="btn btn-primary">Search</button> &nbsp;
                    <button type="button" (click)="clear()" class="btn btn-primary">Clear</button>
                  </div>
             </div>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!initial" style="margin-top: 3%;">
  <div *ngIf="!noResultFound "  class="col-8 " >
  <ul>
    <li *ngFor="let item of collection | paginate: { itemsPerPage: 7, currentPage: p }" >{{ item }}</li>
  </ul>
  <pagination-controls style="float: right;" (pageChange)="p = $event"></pagination-controls>
</div>
<div *ngIf="noResultFound" class="col-8">
  <h3> No Result Found...!</h3>
</div>
</div>
<router-outlet></router-outlet>